Repository JokerTrickster/board_game_app, changes with the labels that .github/labeler.yml gives for each.
All labels: type/docs, type/config, type/feature, game/find-it, game/frog, game/slime-war, game/sequence, ui/components, ui/screens, backend/services, ui/styles, type/test, type/build, type/ci, type/assets

.github/labeler.yml:

# Auto-labeling configuration for GitHub PRs
# This file defines rules for automatically labeling pull requests based on changed files

# Documentation updates
"type/docs":
  - any: ["**/*.md", "docs/**"]

# Configuration files
"type/config":
  - any: ["**/*.yml", "**/*.yaml", "**/*.json", "**/*.xml", "**/*.config.*"]

# Source code changes
"type/feature":
  - any: ["src/**/*.{ts,tsx,js,jsx}"]

# Game-specific changes
"game/find-it":
  - any: ["src/games/find-it/**"]

"game/frog":
  - any: ["src/games/frog/**"]

"game/slime-war":
  - any: ["src/games/slime-war/**"]

"game/sequence":
  - any: ["src/games/sequence/**"]

# Component changes
"ui/components":
  - any: ["src/components/**"]

# Screen changes  
"ui/screens":
  - any: ["src/screens/**"]

# Service layer changes
"backend/services":
  - any: ["src/services/**"]

# Styling changes
"ui/styles":
  - any: ["src/styles/**", "**/*.style.{ts,tsx,js,jsx}"]

# Testing
"type/test":
  - any: ["**/*.test.{ts,tsx,js,jsx}", "**/__tests__/**", "**/*.spec.{ts,tsx,js,jsx}"]

# Build and dependencies
"type/build":
  - any: ["package.json", "package-lock.json", "yarn.lock", "android/**", "ios/**"]

# GitHub workflows and CI/CD
"type/ci":
  - any: [".github/**"]

# Assets and media
"type/assets":
  - any: ["src/assets/**", "**/*.{png,jpg,jpeg,gif,svg,ico}"]

# Large changes (affecting many files)
"size/large":
  - any: ["**/*"]
    all-globs-to-any-file: true
    min-count: 20

fix: Fix remaining GitHub workflow configuration errors
  .github/workflows/auto-pr.yml
  .github/workflows/release-please.yml
Labels: type/ci

fix: Fix YAML template syntax in auto-pr.yml
  .github/workflows/auto-pr.yml
Labels: type/ci

feat: Add /custom:task-resume command for complete task workflow
  .claude/commands/custom/task-resume.md
  .claude/scripts/custom/task-resume.sh
Labels: none

feat: Add /custom:task-start and /custom:task-validate commands
  .claude/commands/custom/task-start.md
  .claude/commands/custom/task-validate.md
  .claude/scripts/custom/task-start.sh
  .claude/scripts/custom/task-validate.sh
Labels: none

feat: Add /custom:prd-full command for complete PRD workflow
  .claude/commands/custom/prd-full.md
  .claude/scripts/custom/prd-full.sh
Labels: none

refactor: Rename /custom:prd-full to /custom:prd-create
  .claude/commands/custom/prd-create.md
  .claude/scripts/custom/prd-create.sh
Labels: none

fix: Remove LoadingScreen from game result navigation to improve UX
  src/games/find-it/MultiFindItResultScreen.tsx
  src/games/frog/screens/FrogResultScreen.tsx
  src/games/sequence/screens/SequenceResultScreen.tsx
  src/games/slime-war/screens/SlimeWarResultScreen.tsx
Labels: type/feature, game/find-it, game/frog, game/slime-war, game/sequence

fix: Remove all LoadingScreen usage from navigation throughout entire app
  src/games/find-it/FindItGameOverScreen.tsx
  src/games/frog/services/FrogWebsocketService.ts
  src/games/sequence/services/SequenceWebsocketService.ts
  src/games/slime-war/services/SlimeWarWebsocketService.ts
  src/screens/GameDetailScreen.tsx
  src/services/FindItWebSocketService.ts
Labels: type/feature, game/find-it, game/frog, game/slime-war, game/sequence, ui/screens, backend/services

fix: Update release-please workflow to use current action and fix permissions
  .github/workflows/release-please.yml
Labels: type/ci

docs: Add comprehensive PRD for responsive UI refactor
  .claude/prds/responsive-ui-refactor.md
Labels: none

fix: Critical layout fixes for responsive UI
  src/components/styles/GameCardStyles.ts
  src/games/find-it/styles/ReactSoloFindItStyles.ts
Labels: type/feature, game/find-it, ui/components

docs: Add validation report for critical layout fixes
  .claude/validation/critical-fixes-validation.md
Labels: none

feat: Implement comprehensive responsive foundation system
  .claude/examples/migration-example.tsx
  .claude/examples/responsive-usage.md
  __tests__/utils/deviceDetection.test.ts
  __tests__/utils/responsive.test.ts
  src/constants/breakpoints.ts
  src/hooks/useResponsive.ts
  src/utils/deviceDetection.ts
  src/utils/index.ts
  src/utils/responsive.ts
Labels: type/feature

docs: Add comprehensive validation report for responsive foundation system
  .claude/validation/responsive-foundation-validation.md
Labels: none

feat: Migrate Phase 1 critical components to responsive system
  src/components/styles/ActionCardStyles.ts
  src/components/styles/ButtonStyles.ts
  src/styles/ReactActionCardStyles.ts
  src/styles/ReactGameCardStyles.ts
Labels: type/feature, ui/components

feat: Complete Phase 3 - Advanced responsive layouts and tablet optimizations
  .claude/examples/responsive-layouts.tsx
  .claude/examples/tablet-optimizations.tsx
  .claude/scripts/migrate-styles.js
  .claude/validation/component-migration-validation.md
  src/components/styles/HomeHeaderStyles.ts
Labels: type/feature, ui/components
